<ion-header>
  <ion-toolbar style="--background:var(--blue-dark);">
    <ion-buttons slot="start" style="color:black;">
      <ion-back-button (click)='backStore()' icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end" style="color:white;">Nueva categoria</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="refresh()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <form class='d-block m-auto text-center form-login w-75'>
    <div class='row mt-4 card'>
      <div class='col-12'>
        <div class='row mt-4 mb-4'>
          <div class='col-2'>
            <span class='login-icon'><i class="fas fa-tag"></i></span>
          </div>
          <div class='col-10'>
            <input type='text' class='w-100' placeholder='Categoria...' name='category' #category>
          </div>
        </div>
      </div>
    </div>
    <button type='button' (click)="register(category)" class='btn btn-success btn-block mt-4 w-100 mb-4 boxShadow'>Registrar</button>
  </form>
</ion-content>